<div class="container text-center">
  <h2>About Page</h2>
  
  <p>This is DevMatch. A site dedicated to creating an exclusive community where 
  developers and entrepreneurs can link up. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur rerum numquam, repellat fugit nobis quibusdam quam, nisi illum eligendi doloremque dolores expedita fugiat at laboriosam ratione necessitatibus. Explicabo, unde esse?</p>
</div>