/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap'; 

h1, h2, h3 {
  font-family: 'Special Elite', sans-serif;
}

h1 {
  color: #FF9859;
  font-size: 60px;
}

h3 {
  color: white;
}

.home-callout {
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.home-callout, .navbar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bcf2c0+0,9ce2b4+44,67d9b9+100 */
  background: rgb(188,242,192); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(188,242,192,1) 0%, rgba(156,226,180,1) 44%, rgba(103,217,185,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(188,242,192,1) 0%,rgba(156,226,180,1) 44%,rgba(103,217,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(188,242,192,1) 0%,rgba(156,226,180,1) 44%,rgba(103,217,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcf2c0', endColorstr='#67d9b9',GradientType=1 ); /* IE6-9 */
}


.navbar {
  font-family: 'Special Elite', sans-serif;
  border: none;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:hover {
  color: #FF9859;
  opacity: .80;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #FF9859;
  opacity: .80;
}